@model IEnumerable<Room>


@{
    ViewData["Title"] = "List of Rooms";
}

<div class="row">
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2> COMMENT ÇA MARCHE ?</h2>
                <p> Ça vous dit de payer votre iPhone ou votre voyage jusqu’à 80% moins cher? Erba7 est le premier site d’enchère libre EN TUNISIE. Vous enchérissez sur le produit qui vous intéresse, et si vous êtes le dernier à avoir la main, il est à vous !</p>
            </div>



        </div>
    </section>
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    Prévu Le @item.DateDebut.ToString("dd MMM yy")
                                    @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {*@
                                    <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.IdRoom"><i class="bi bi-pencil-square"></i></a>
                                    @*}*@
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.Article.Photo" width="100%">
                    </div>

                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"> @item.Article.Nom</p>
                            <p class="card-text">
                                <b>
                                    Salle d'enchére remplie a :
                                </b>
                            </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @item.NombreParticipants" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="card-text"><b>Prix magasin: </b>@item.MontantInitial DT</p>
                            <p class="card-text"><b>Prix Initial: </b>@item.MontantLancement DT</p>

                            <p class="card-text ">
                                <b>Status: </b>
                                @if (DateTime.Now <= item.DateDebut)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else if (DateTime.Now > item.DateDebut)
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span>

                                }
                            </p>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">

                                <button type="button" class="btn btn-info"> PARTICIPER A  @item.FraisRoom </button>


                            </p>
                        </div>
                    </div>
                    @*<div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Show Details
                                    </a>
                                    <a class="btn btn-success text-white @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                                       asp-controller="Orders"
                                       asp-action="AddItemToShoppingCart"
                                       asp-route-id="@item.Id">
                                        <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))
                                    </a>
                                </p>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    }
</div>

@*@await Html.PartialAsync("_CreateItem", "Movies")*@
